*{
    text-align: center;
}
h1{
    color: #fff;
    background-color: black;
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 0;
    text-align: left;
}
#check{
    border: 1px solid #ccc;
}
h2{
    color: red;
}